.footer-container {
    background-color: #458459;
    display: flex;
    justify-content: space-around;
    color: #f5f5ef;
    height: 200px;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    flex: 0 0 50px;
    position: absolute;
    bottom: 50px;;
    left: 0;
    right: 0;
}

.copyright {
    display: flex;
    justify-content: center;
    background-color: #316140;
    color: #f5f5ef;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
