.footer-container {
    background-color: #458459;
    display: flex;
    justify-content: space-around;
    color: #f5f5ef;
    height: 200px;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    flex: 0 0 50px;
    position: absolute;
    bottom: 50px;;
    left: 0;
    right: 0;
}

.footer-headers {
    color: #c6ae6d;
}

.footer-donation {
    position: relative;
    bottom: 20px;
    left: 30px;

}


.copyright {
    display: flex;
    justify-content: center;
    background-color: #316140;
    color: #f5f5ef;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.rights-reserved {
    position: relative;
    top: 10px;
}

#footer,
#footer2,
#footer3,
#footer4,
#footer5,
#footer6,
#footer7,
#footer8 {
    color: white;
    text-decoration: none;
}

#footer:hover,
#footer2:hover,
#footer3:hover,
#footer4:hover,
#footer5:hover,
#footer6:hover,
#footer7:hover,
#footer8:hover {
    color: purple;
}

#footer7 {
    padding: 10px;
}

#footer8 {
    padding: 10px;
}
