.animals-container {
    width: 100%;
    height: 20%;
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
}

#banner {
    width: 100%;
    height: 490px;
}

.animal-tiles {
    position: relative;
    margin-left: 100px;
}
