.animal-tile {
    height: 300px;
    width: 300px;
    float: left;
    padding: 20px;
    display: flex;
}

.animal-img {
    width: 300px;
    height: 300px;
}

.animal-name {
    position: relative;
    background-color: white;
    bottom: 34px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 45px;
    border-radius: 27%;
}

.heart-button {
    z-index: 100;
    position: relative;
    right: 60px;
    top: 275px;
    height: 50px;
}


.heart-filled {
    position: relative;
    z-index: 101;
    right: 60px;
    top: 275px;
}
