.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.firstname-container {
    padding: 10px;
}

.firstname-label {
    padding: 20px;
}

.firstname-input {
    height: 20px;
}

.lastname-container {
    padding: 10px;
}

.lastname-label {
    padding: 20px;
}

.lastname-input {
    height: 20px;
    position: relative;
    left: 2px;
}

.email-container {
    padding: 10px;
}

.email-label {
    padding: 20px;
}

.email-input {
    position: relative;
    left: 33px;
    height: 20px;
}

.zipcode-container {
    padding: 10px;
}

.zipcode-label {
    padding: 20px;
}

.zipcode-input {
    position: relative;
    left: 19px;
    height: 20px;
}

.password-container {
    padding: 10px;
}

.password-label {
    padding: 20px;
}

.password-input {
    position: relative;
    left: 10px;
    height: 20px;
}

.confirm-container {
    padding: 10px;
}

.confirm-label {
    padding: 20px;
}

.confirm-input {
    position: relative;
    left: 29.5px;
    bottom: 17px;
    height: 20px;
}

.photo-label {
    position: relative;
    left: 5px;
    padding: 20px;
}

.photo-input {
    position: relative;
    left: 14px;
}

.photo-container {
    position: relative;
    left: 5px;
}

.span-password {
    position: relative;
    left: 20px;
}

.signup-btn {
    position: relative;
    left: 33%;
    top: 30px;
    width: 120px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #c6ae6d;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.signup-btn:hover {
    background-color: #c6ae6d;
    box-shadow: 0px 15px 20px #c6ae6d;
    transform: translateY(-7px);
  }

.photo-required {
    display: flex;
    justify-content: center;
}
