.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 70px;
    background-color: #c6ae6d;
}

.home-icon {
    position: relative;
    left: 20%;
}

.favorite-icon {
    position: relative;
    right: 10%;
}

.login-button {
    position: relative;
    left: 60%;
}

.search-bar {
    position: relative;
    right: 48%;
}

.logout-button {
    position: relative;
    left: 6%;
}

.signup-button {
    position: relative;
    left: 31%;
}

.profile-button {
    position: relative;
    left: 16.3%;
}
