.animal-container {
    background-color: white;
    box-shadow:  rgb(0 0 0 / 30%) 0px 19px 38px, rgb(0 0 0 / 22%) 0px 15px 12px;
    width: 500px;
    height: fit-content;
    border-radius: 10px;
    position: relative;
    left: 5%;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.animal-description {
    padding-top: 10px;
}

.type-age-gender {
    padding-top: 20px;
}

.border-line {
    border: 1px solid rgb(228, 228, 228);
}

.breed-img {
    max-width: 40%;
    max-height: 40%;
    position: relative;
}

.breed-container {
    background-color: white;
    box-shadow:  rgb(0 0 0 / 30%) 0px 19px 38px, rgb(0 0 0 / 22%) 0px 15px 12px;
    width: 500px;
    height: fit-content;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
    left: 5%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    margin-bottom: 300px;
}

.breed-name {
    position: relative;
    border-bottom: 2px solid rgb(228, 228, 228);
}

.breed-description {
    position: relative;
    top: 10px;
}

.breed-image-container {
    display: flex;
    justify-content: center;
}

.animal-breed-container {
    position: relative;
    width: 35%;
    left: 15%;
    padding: 10px;
    border-radius: 10px;
}
